<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><%=title %></title>
  <link rel="stylesheet" href="/admincss/admin.css">
  <link rel="stylesheet" href="/admincss/<%= csspage %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

  
</head>
<body>
  <div class="page-container">
    <%- include('../partials/sidebar') %>
    <div class="content-area">
        <%- include('../partials/adminheader') %>
        <main class="body-main">
            <%- body %>
        </main>
    </div>
</div>

</body>
</html>
